@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

:host{
    display: block;
    background-color: #493c36;
    height: 100vh;
    background-image: url(/assets/notfound.png);
    background-repeat: no-repeat;
    background-position: right bottom;
}

@media (max-width:992px){
    :host{
        background-image: none;
    }
}

h1{
    font-size: 200px;
    color: #d9cdc1;
    font-family: "Josefin Sans", sans-serif;
}

@media (max-width:992px){
    h1{
        font-size: 150px;
    }
}

.home{
    width: 120px;
    height: 120px;
    background-color: #d9cdc1;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;


    & svg{
        font-size: 70px;
        color:#493c36 !important;
        cursor: pointer;
    }
}

@media (max-width:992px){
    .home{
        width: 80px;
        height: 80px;
        & svg{
            font-size: 40px;
        }
    }

}